# ignore hidden files and directories ...
.*

# ... except those explicitly excluded below
!.gitignore
!.travis.yml

# ignore project work directories
target/
node_modules/
spark-warehouse/

# ignore backups and log files
*~
*.log
